---
import GeneralLayout from "../layouts/GeneralLayout.astro";
import HomeCard from '../components/HomeCard.astro'
import VerticalCard from '../components/VerticalCard.astro'
const allPosts = await Astro.glob("../pages/articulos/*.md");
---

<GeneralLayout title="Inicio">
  <section class="grid grid-cols-3 gap-5 lg:gap-10">
    {
      allPosts.map((post, index) => (
        post.frontmatter.highlight ?
        <HomeCard frontmatter={post.frontmatter} url={post.url} />
        : <VerticalCard frontmatter={post.frontmatter} url={post.url} showUserPic /> 
      ))
    }
  </section>
</GeneralLayout>

<script>
  const pubDate = document.getElementById("pubDate");
  const date = new Date(pubDate.textContent);
  pubDate.textContent = date.toLocaleDateString("es-CL", {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
</script>
