---
import Servers from '../icons/Servers.astro'
import Navlink from '../components/Navlink.astro'
import SwitchTheme from '../components/react/SwitchTheme'
---

<header class='w-screen p-0 bg-white border-b border-[#e4e4e7] dark:bg-zinc-800'>
  <nav class='flex flex-row gap-4 justify-between max-w-screen-2xl mx-auto p-4 items-center'>
    <h2 class='font-semibold flex flex-row gap-1 text-lg'>
      <a href='https://www.vicentejorquera.dev/' target='_blank' rel='no-referrer' class="font-bold flex flex-row items-center gap-1"><Servers /> Vicente Jorquera</a>
      <a href='/' rel="no-referrer"> / blog</a>
    </h2>
    <ul class='flex flex-row gap-6 items-center'>
      <li>
        <Navlink url='/articulos' name='Artículos' />
      </li>
      <li>
        <Navlink url='/acerca-de' name='Acerca de' />
      </li>
      <li class="p-0"><SwitchTheme client:load /></li>
    </ul>
  </nav>
</header>
