---
const { url, name } = Astro.props;
---

<a href={url} class='transition-all duration-300 block w-full sm:w-fit ease-in-out hover:text-lime-700 sm:hover:text-green-600 dark:hover:text-lime-500 py-2 sm:p-0'>{name}</a>