---
import ShareBtnAuthor from '../components/ShareBtnAuthor.astro'
---

<ul class='flex items-center gap-7 font-bold'>
  <li>
    <ShareBtnAuthor url={'https://www.linkedin.com/in/vicentejorquera'} title={'Linkedin'} />
  </li>
  <li>
    <ShareBtnAuthor url={'https://www.twitter.com/jvicente_20'} title={'Twitter'} />
  </li>
  <li>
    <ShareBtnAuthor url={'https://www.instagram.com/jvicente_20'} title={'Instagram'} />
  </li>
</ul>