---
const { url } = Astro.props
import ShareBtn from '../components/ShareBtn.astro'
---

<ul class='flex items-center gap-3 text-xl'>
  <li>
    <ShareBtn url={url} title={'Linkedin'} />
  </li>
  <li>
    <ShareBtn url={url} title={'Twitter'} />
  </li>
  <li>
    <ShareBtn url={url} title={'Instagram'} />
  </li>
</ul>