---
import Navbar from "../components/Navbar.astro"
const { title } = Astro.props
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | Vicente Jorquera</title>
	</head>
	<body>
    <Navbar />
    <main class='max-w-screen-xl mx-auto px-4 sm:px-8 lg:px-4 pt-20'>
      <slot/>
    </main>
	</body>
</html>
